<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>duckdns</string>

    <key>Program</key>
    <string>/Users/jeffd/src/duckdns/duckdns</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>3600</integer>

    <!-- <key>StandardOutPath</key> -->
    <!-- <string>/tmp/duckdns.stdout</string> -->

    <!-- <key>StandardErrorPath</key> -->
    <!-- <string>/tmp/duckdns.stderr</string> -->
  </dict>
</plist>
